schema_version: 1
change: TODO
contracts: []
decisions: []
automated_evidence: []
platform_probes: []
migration_rehearsal: TODO
rollback_rehearsal: TODO
challenger_result: TODO
residual_risks: []
release_decision: TODO
